<h3>Name</h3>
<%= @f.text_field :name %>
<h3>Address</h3>
<%= @f.text_field :address %>
<h3>Hours</h3>
<%= @f.text_field :hours %>
<h3>Capacity</h3>
<%= @f.text_field :capacity %>
<h3>Description</h3>
<%= @f.text_area :description %>
<br /><br />
<%= submit_tag 'Save'%>