body {
	font-family: arial;
	font-size: 75%;
}

h1,h2,h3 {
	font-family: georgia;
	text-transform: uppercase;
	font-weight: normal;
}

.rule {
	border-top: 1px solid #ccc;
	width: 100%;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

a {
	color: #1B84F7;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #1B84F7;
}

ul { list-style-type:none; }
ul li { list-style-type:none; }

#map {
	border: 1px solid #666;
}